
.toggleSleep{
	color: white;
	background: black;
}
body{
	background-image: url('images/tatooineBackground.png');
	background-size: 100%;
}
.containerButtons{
	display: flex;
	justify-content: center;
	
}
.containerStats{
	display: flex;
	justify-content: center;
}
.charName{
	display: flex;
	justify-content: center;
	color: cornsilk;
}
.charAge{
	display: flex;
	justify-content: center;
	color: cornsilk;
}
.spriteScreen{
	display: flex;
	justify-content: center;
	z-index: 100;
}
#youngAnakin{
	position: relative;
	margin-top: 150px;
	margin-right: 800px;
	/*-webkit-animation: spinreverse 10s infinite linear;*/
	 -webkit-animation: backandforth 5s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 5s ease 0s;
    animation-iteration-count: infinite;
}

.toma{
	margin:5px;
	font-size: 30px;
	text-align: center;
	flex-basis:20%;
}
.button{
	border:thick solid rgba(0, 0, 0, 0.7);
	box-shadow: 4px 4px 0px 2px black;
	border-radius: 10px;
	margin:5px;
	font-size: 10px;
	background-color: black;
	text-align: center;
	color: white;
}
.button:hover{
	background-color: red;
}
#tomaName{
	width: 80%;
} 
#tomaAge{

}
#tomaHunger{
color: cornsilk;
}
#tomaBoredom{
color: cornsilk;
}
#tomaSleepiness{
color: cornsilk;
}
@-webkit-keyframes spinreverse {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}   
}

@-webkit-keyframes backandforth {0%{left:0;} 50%{left:58%;} 100%{left:0;}}
@keyframes backandforth {0%{left:0;} 50%{left:100%;} 100%{left:0;}}


